@font-face {
  font-family: 'open sans';
  src: url(../fonts/opensans/opensans.woff2),
       url(../fonts/opensans/opensans.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'open sans';
  src: url(../fonts/opensans/opensansbold.woff2),
       url(../fonts/opensans/opensansbold.woff);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'futura pt';
  src: url(../fonts/futura_pt/FuturaPT-Bold.woff2),
       url(../fonts/futura_pt/FuturaPT-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'museo cyrillic';
  src: url(../fonts/museosanscyrl/MuseoSansCyrl-300.woff2),
       url(../fonts/museosanscyrl/MuseoSansCyrl-300.woff);
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 100vh;

  font-family: 'open sans', arial, sans-serif;
  background-color: #ffffff;
  min-width: 1024px;
}

.button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  box-sizing: border-box;
  padding: 7px;
  width: 35px;
  height: 35px;
  border-radius: 25px;
  box-shadow: 0 0 3px 2px #663333;
  background-color: #e6e6e6;
  z-index: 3;
}

.button__icon {
  fill: #663333;
}

/* - - - - - - - header - - - - - - - */

.header__wrapper-contacts {
  display: flex;
  justify-content: center;
}

.wrapper-contacts__wrapper-logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  background-color: #e6e6e6;
  margin-bottom: 37px;
  margin-right: -60px;
}

.wrapper-contacts__wrapper-logo::after {
	content: "";
	border-top: 145px solid #e6e6e6;
	border-right: 100px solid transparent;
	background-color: #ffffff;
}

.link {
  text-decoration: none;
  color: inherit;
}

.wrapper-container-logo {
  position: relative;
  display: flex;
  box-sizing: border-box;
  padding: 20px 10px 20px 10px;
  width: 280px;
}

.logo {
  display: block;
}

.logo-text {
  position: absolute;
  display: block;
  margin: 0;
  padding-left: 15px;
  padding-top: 13px;
  line-height: 30px;
  width: 170px;

  font-size: 25px;
  color: #663333;
  font-weight: 800;
  font-family: "futura pt";
  text-transform: uppercase;
  left: 120px;
}

.wrapper-contacts__wrapper-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  background-color: inherit;
}

.list-contacts {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 66px;
}

.list-contacts__item {
  margin-left: 27px;
}

.list-contacts__item:first-child {
  margin-left: 0;
}

.list-contacts__item:last-child {
  margin-right: 10px;
}

.list {
  list-style-type: none;
  margin: 0;
}

.item__contact-link {
  display: flex;
}

.contact-link__icon {
  width: 23px;
  height: 23px;
  fill: #663333;
}

.contact-link__text {
  margin: 0 0 0 14px;
  font-size: 16px;
  color: #505050;
  font-weight: 700;
}

#contact-link__button_header {
  border: 1px solid #663333;
  color: #663333;
}

#contact-link__button_header:hover, #contact-link__button_footer:hover {
  color: #ffffff;
  background-color: #663333;
}

#contact-link__button_header:active, #contact-link__button_footer:active {
  color: #ffffff;
  background-color: #d12c2c;
}

.contact-link__button {
  margin: 0;
  padding: 12px 24px 12px 24px;
  font-size: 13px;
}

.list-menu {
  display: flex;
  background-color: #663333;
  padding-left: 0;
}

.list-menu::before {
  content: "";
  
	border-bottom: 54px solid #663333;
	border-left: 35px solid transparent;
  background-color: #ffffff;
}

.list-menu__item {
  position: relative;
}

.list-menu__item::before {
  position: absolute;
  display: block;
  content: "";

  width: 1px;
  height: 24px;
  top: 16px;
  right: 0;

  background-color: #4e2020;
}  

.list-menu__item:last-child::before {
  display: none;
}

.list-menu__item:hover {
  background-color: #e4871d;
}

.list-menu__item:active:nth-child(n+3) {
  background-color: #d12c2c;
}

.link-menu__text {
  box-sizing: border-box;
  margin: 0;
  padding: 18px 29px 19px 29px;

  font-size: 13px;
  font-weight: 400;
  color: #ffffff;

  white-space: nowrap;
}

.item-dropdown::after {
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  margin-left: 9px;

  border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 8px solid #ffffff;
}

.menu__list {
  position: absolute;
  box-sizing: border-box;
  padding: 30px 40px 30px 50px;
  background-color: #ffffff;
  z-index: 2;
}

.menu__list::after {
  content: "";
  position: absolute;
  top: 0;
  left: 30px;
  width: 93px;
  height: 3px;
  background-color: #d12c2c;
}

.menu__item {
  position: relative;
  padding-bottom: 10px;
  font-size: 13px;
  font-weight: 400;
  white-space: nowrap;
}

.menu__item:hover {
  color: #c57272;
}

.menu__item:active {
  color: #d12c2c;
}

.menu__item:last-child {
  padding-bottom: 0;
}

.menu__item::before {
  position: absolute;
  content: "";
  margin-top: 4px;
  width: 10px;
  height: 10px;
  left: -20px;
  top: 0;
  background-image: url(../svg/keyboard-right.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.wrapper-title {
  position: relative;
  display: flex;
  justify-content: center;

  background-image: url(../images/trucks.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #353434;
}

.wrapper-title::after {
  content: "";
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.25;

  background-color: #000000;
}

.container-title {
  box-sizing: border-box;
  padding-top: 340px;
  padding-left: 570px;
  padding-bottom: 87px;
  width: 960px;
}

.title-text {
  position: relative;
  display: block;
  margin: 0;

  font-size: 30px;
  line-height: 44px;
  color: #ffffff;
  font-weight: 800;

  text-transform: uppercase;
  z-index: 2;
}

.title-text__box-text {
  display: block;
  margin: 0;
}

/* - - - - - - - main - - - - - - - */

#wrapper-our-services {
  background-color: inherit;
}

.wrapper-content {
  box-sizing: border-box;
  padding: 85px 10px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

#container-content-section-bmf {
  display: flex;
  flex-wrap: wrap;
}

#header-our-services {
  width: 300px;
  margin-right: 20px;
}

#header-text-our-services, #header-text-price {
  color: #252525;
}

.wrapper-content__header {
  position: relative;

  margin: 0;
  padding-bottom: 30px;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
}

.wrapper-content__header::after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 3px;
  background-color: #d12c2c;
  left: 0;
  bottom: 0;
}

.container-content {
  width: 300px;
  margin-right: 20px;
}

.container-content:nth-child(2) {
  position: relative;
  margin-bottom: 32px;
}

.container-content:nth-child(3n+5) {
  margin-right: 0;
}

.preview-content {
  display: block;
  width: 300px;
  height: 180px;
  object-fit: cover;
}

#article-preview-main {
  width: 620px;
  height: 335px;
}

.container-text {
  position: relative;
  display: block;
  box-sizing: border-box;
  margin: 0;
  width: 191px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 18px;
  background-color: #518a32;
}

.container-text::after {
  content: "";
	position: absolute;

	top: 0;
	right: -19px;
	border-top: 28px solid #518a32;
	border-right: 19px solid transparent;
	background: none;
}

#container-article-link-main {
  position: absolute;
 
  width: 330px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 18px;

  left: 0;
  bottom: 52px;
}

#container-article-link-main::after {
  content: "";
	position: absolute;
	top: 0;
	right: -29px;
	border-top: 40px solid #518a32;
	border-right: 29px solid transparent;
}

.container-content__link {
  font-size: 13px;
  font-weight: 400;
  color: #fffefe;
}

.container-info {
  box-sizing: border-box;
  padding-top: 90px;
}

.info {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #505050;
}

#wrapper-our-advantages {
  background-color: #663333;
}

#con-dec-our-adv {
  position: relative;
}

#con-dec-our-adv::before {
  position: absolute;
  content: "";

  width: 0;
  height: 0;
  top: 0;
  left: 284px;
	border-top: 25px solid #ffffff; 
	border-right: 18px solid transparent;	
}

#con-dec-our-adv::after {
  position: absolute;
  content: "";

  width: 960px;
  height: 25px;
  top: 0;
  right: 676px;
  background-color: #ffffff;
}

#header-text-our-advantages {
  color: #ffffff;
}

.wrapper-content__wrapper-container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

.wrapper-container_group1 {
  padding-left: 1px;
  padding-right: 1px;
}

.wrapper-container__container-icon {
  box-sizing: border-box;
  margin-right: 20px;
  width: 218px;
  text-align: center;
}

.wrapper-container_group1:last-child {
  width: 226px;
}

.wrapper-container__container-icon:last-child {
  margin-right: 0;
}

.icon_group1 {
  fill: #d12c2c;
}

.icon {
  width: 70px;
  height: 70px;
}

.header_group1, .text_group1 {
  color: #ffffff;
}

.container-icon__header {
  margin: 20px 0 17px 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  
  font-weight: 700;
}

.container-icon__text {
  margin: 0;
  font-size: 13px;
  line-height: 22px;
  
  font-weight: 400;
}

#wrapper-transportation {
  background-color: #e6e6e6;
}

#con-dec-trans {
  position: relative;
  padding-top: 110px;
}

#con-dec-trans::before {
  position: absolute;
  content: "";

  width: 0;
  height: 0;
  top: 0;
  right: 301px;
	border-top: 25px solid #663333; 
	border-right: 18px solid transparent;	
}

#con-dec-trans::after {
  position: absolute;
  content: "";

  width: 1447px;
  height: 25px;
  top: 0;
  right: 319px;
  background-color: #663333;
}

#header-text-transportation, .text_group2, #header-text-vehicle-fleet {
  color: #252525;
}

.wrapper-container_group2 {
  position: relative;
}

.wrapper-container_group2:nth-child(n+2)::before {
  content: "";
  position: absolute;
  width: 20px;
	height: 10px;
  top: 35px;
  left: -20px;
  background-image: url(../svg/right.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #e6e6e6;
}

.icon_group2 {
  fill: #518a32;
}

.header_group2 {
  color: #505050;
}

#h-cont-trans-link {
  color: #518a32;
}

#h-cont-trans-link:hover {
  color: #7fbb5f;
}

#h-cont-trans-link:active {
  color: #d12c2c;
}

#wrapper-vehicle-fleet {
  background-color: inherit;
}

#boxs-vehicle-fleet {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.wrapper-list {
  box-sizing: border-box;
  width: 425px;
  margin-right: 32px;
  padding-left: 20px;
}

.wrapper-list:nth-child(2n+1) {
  padding-left: 0;
}

.wrapper-list:nth-child(n+3) {
  margin-top: 50px;
}

.wrapper-list__list-group {
  display: flex;
  padding: 0;
}

.list-group__item_group1 {
  width: 100px;
  text-align: center;
  background-color: #d12c2c;
}

.item_group {
  display: block;
  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 13px;
  font-weight: 400;
  color: #fffefe;
}

.list-group__item_group2 {
  position: relative;
  width: 241px;
  background-color: #663333;
  padding-left: 38px;
}

.list-group__item_group2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
	height: 0;
	border-top: 28px solid #d12c2c; 
  border-right: 21px solid transparent;
}

.list-group__item_group2::after {
  content: "";
  position: absolute;
  top: 0;
  right: -21px;
  width: 0;
	height: 0;
	border-top: 28px solid #663333; 
  border-right: 21px solid transparent;
}

.wrapper-list__preview {
  display: block;
  width: 400px;
}

/* - - - - - - - footer - - - - - - - */

.footer {
  background-color: #1c1c1c;
}

#container-content-footer {
  box-sizing: border-box;
  padding: 40px 10px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

#container-footer-contacts {
  display: flex;
  justify-content: space-between;
}

.address {
  display: flex;
  justify-content: space-between;
  width: 650px;
  font-style: inherit;
}

.footer__text {
  display: block;
  margin: 0;
  font-size: 13px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 400;
}

.footer__text_wrapper {
  display: block;
}

#contact-link__button_footer {
  border: 1px solid #ffffff;
  color: #ffffff;
}

#container-footer-info {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding-top: 10px;
}

#container-footer-info::after {
  position: absolute;
  content: "";
  width: 940px;
  height: 1px;
  top: 0;
  left: 0;
  background-color: #616161;
}

.footer__text_info {
  margin: 0;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  color: #8a8a8a;
}

/* Прайс 1.5 тонны */

#bg-container-price {
  background-color: inherit;
}

#con-content-price {
  padding: 28px 10px 90px 10px;
}

#container-navigation-menu {
  display: flex;
  padding: 0;
}

.list-navigation__item {
  position: relative;
  margin-left: 28px;
  font-size: 13px;
  font-weight: 400;
  color: #000000;
}

.list-navigation__item:nth-child(n+2)::before {
  position: absolute;
  content: ">";
  left: -15px;
  top: 0;
}

.list-navigation__item:first-child {
  margin-left: 0;
}

.list-navigation__item-link {
  color: #663333;
}

.list-navigation__item-link:hover {
  color: #c57272;
}

.list-navigation__item-link:active {
  color: #d12c2c;
}

#header-price {
  margin-top: 35px;
  margin-bottom: 45px;
}

#list-price-veh-mass {
  display: flex;
  padding: 0;
}

.list-select__item {
  position: relative;
  padding: 0;
}

.list-select__item:last-child::after {
  position: absolute;
  content: "";

  top: 0;
  right: 0;
  width: 0;
	height: 0;
	border-bottom: 46px solid #ffffff; 
	border-left: 32px solid transparent;
}

.list-select__container-text {
  margin: 0;
  width: 140px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 18px;
  background-color: #663333;
}

.item_active {
  background-color: #d12c2c;
}

.item_active::after {
  position: absolute;
  content: "";

  top: 0;
  right: 0;
  width: 0;
	height: 0;
	border-bottom: 46px solid #663333; 
	border-left: 32px solid transparent;
}

.container-group__container-text {
  margin-top: 47px;
  margin-bottom: 33px;
}

.container-group__text {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #505050;
}

.container-group__wrapper-container {
  display: flex;
  justify-content: space-between;
}

.container-group__container-preview {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0 0 0;
}

.container-group__preview {
  display: block;
  max-width: 460px;
  height: 125px;
  object-fit: contain;
}

.container-group__preview:first-child {
  margin-right: 50px;
}

.container-group__wrapper-info {
  position: relative;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 50px;
  padding: 30px;
  width: 460px;
  background-color: #e6e6e6;
}

.container-group__wrapper-info::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: 0;
  left: 0;
	border-top: 24px solid #ffffff; 
	border-right: 18px solid transparent;
}

.container-group__wrapper-info::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
	border-bottom: 24px solid #ffffff; 
	border-left: 18px solid transparent;
}

.container-group__header {
  margin: 0 0 12px 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #505050;
}

.container-group__list {
  padding: 0;
}

.text_info {
  font-size: 13px;
  line-height: 24px;
  color: #505050;
  font-family: "Museo Cyrillic";
}

.container-group__text_info {
  margin-bottom: 23px;
}

.container-group__text_info:last-of-type {
  margin-bottom: 0;
}

.container-group__item::before {
  content: "−";
}

#button-price-link {
  display: block;
  margin-left: 480px;
  margin-right: 310px;
}

#box-button-price {
  box-sizing: border-box;
  margin: 0;
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid #518931;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  color: #518a32;
}

#box-button-price:hover {
  background-color: #518a32;
  color: #ffffff;
}

#box-button-price:active {
  background-color: #d12c2c;;
  color: #ffffff;
}

.popup {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 4;
}

.form {
  width: 400px;
  background-color: #ffffff;
}

.form__wrapper-header {
  display: flex;
}

.form__header {
  box-sizing: border-box;
  width: 260px;
  padding-top: 13px;
  padding-bottom: 13px;
  text-align: center;
  color: #ffffff;
  background-color: #663333;
}

.form__button_close {
  position: relative;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 140px;
  padding-top: 13px;
  padding-bottom: 13px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #ffffff;
  font-family: inherit;
  color: #663333;
}

.form__button_close:hover {
  background-color: #ffe0e0;
}

.form__button_close:focus {
  background-color: #ffafaf;
}

.form__button_close::before {
  position: absolute;
  content: "";

  top: 0;
  left: 0;
  width: 0;
	height: 0;
	border-bottom: 46px solid transparent; 
	border-left: 32px solid #663333;
}

.text_form {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
}

.form__icon_close {
  margin-left: 7px;
  fill: #663333;
  width: 20px;
  height: 20px;
}

.form__content {
  box-sizing: border-box;
  width: 240px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.field-group {
  display: block;
  margin-bottom: 20px;
}

.field-group:last-child {
  margin-bottom: 0;
}

.field-label {
  display: block;
  padding-bottom: 7px;
}

.field {
  width: 240px;
  height: 40px;
  font-size: 13px;
  font-weight: 400;
  font-family: inherit;
  border: none;
  color: #000000;
  background-color: #e6e6e6;
}

.textarea-field {
  height: 80px;
  min-width: 240px;
  max-width: 240px;
  min-height: 40px;
  max-height: 120px;
}

.checkbox {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.checkbox-text {
  display: block;
  color: #663333;
  line-height: 10px;
}

.checkbox-text::before {
  content: "";
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-color: #e6e6e6;
  background-image: url(../images/check_false.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
}

.checkbox:checked ~ .checkbox-text::before {
  background-image: url(../images/check.jpg);
}

.checkbox-text-box {
  display: block;
  margin-left: 40px;
}

.form__button {
  display: block;
  box-sizing: border-box;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 0 12px 0;
  width: 150px;
  font-family: inherit;
  border: 1px solid #663333;
  color: #663333;
  background-color: #ffffff;
}

.form__button:hover {
  color: #ffffff;
  background-color: #663333;
}

.form__button:focus {
  color: #ffffff;
  background-color: #d12c2c;
}

.arrow_next__group1, .arrow_pre__group1, .arrow_next__group2, .arrow_pre__group2, .arrow_pre__group3, .arrow_next__group3 {
  display: none;
}

/* - - - - - - - Мобильная версия - - - - - - - */

@media (max-width: 640px) {
  body {
    margin-top: 17.2vw;
    min-width: initial;
}

.wrapper-body_mobile::after {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.button {
  bottom: 20px;
  right: 20px;
}

/* - - - - - - - header - - - - - - - */

.header__wrapper-contacts {
  position: relative;
  display: block;
  z-index: 3;
  box-shadow: 0 2px 3px 0 #663333;
}

.mobile-position {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.wrapper-contacts__wrapper-logo {
  justify-content: flex-start;
  margin-bottom: 0;
  margin-right: 0;
  background-color: #ffffff;
}

.wrapper-contacts__wrapper-logo::after {
	border-top: 17.19vw solid #e6e6e6;
	border-right: 12.5vw solid transparent;
}

.wrapper-container-logo {
  padding: 1.56vw 3.12vw 1.56vw 3.12vw;
  width: 45.31vw;
  background-color: #e6e6e6;
}

.menu_mobile::before, .menu_mobile_close::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 54.6vw;
  height: 17.18vw;
  box-sizing: border-box;
  padding-top: 5.31vw;
  padding-right: 17.18vw;
  font-size: 4vw;
  color: #663333;
  text-align: end;
  background-position: right 9.37vw center;
  background-repeat: no-repeat;
  background-size: 4.68vw;
}

.menu_mobile::before {
  content: "Меню";
  background-image: url(../svg/lines_menu.svg);
}

.menu_mobile_close::before {
  content: "Закрыть";
  background-image: url(../svg/close_button.svg);
}

.logo {
  width: 15.62vw;
}

.logo-text {
  padding-left: 0.31vw;
  padding-top: 1.56vw;
  line-height: 4.68vw;
  width: 12.5vw;
  font-size: 4.06vw;
  left: 21.87vw;
}

.wrapper-contacts__wrapper-container {
  padding-top: 6.25vw;
  padding-bottom: 6.25vw;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: #ffffff;
}

.list-contacts {
  order: 2;
  display: block;
  padding: 1.56vw 0 0 0;
}

.list-contacts__item {
  margin-left: 0;
  margin-bottom: 3.12vw;
}

.list-contacts__item:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.contact-link__icon {
  width: 5vw;
  height: 5vw;
}

.contact-link__text {
  margin: 0 0 0 3vw;
  font-size: 4.06vw;
  font-weight: 400;
}

#contact-link__button_header, #contact-link__button_footer {
  border: none;
}

#contact-link__button_header:hover {
  color: #663333;
  background-color: inherit;
}

.contact-link__button {
  margin: 0;
  padding: 0;
  font-size: 4.06vw;
}

.list-menu::before, .list-menu__item::before, .list-menu__item:last-child::before, .item-dropdown::after {
  display: none;
}

.list-menu {
  display: block;
  background-color: #ffffff;
  padding: 0;
  margin-right: 12.5vw;
}

.list-menu__item:hover {
  background-color: #ffffff;
}

.list-menu__item:active:nth-child(n+3) {
  background-color: #ffffff;
}

.link-menu__text {
  padding: 1.56vw 0 1.56vw 0;
  font-size: 4.06vw;
  color: #663333;
}

.wrapper-title {
  background-image: url(../images/trucks1024.jpg);
}

.container-title {
  padding-top: 53.12vw;
  padding-left: 0;
  padding-bottom: 53.12vw;
  width: 100%;
  margin: 0;
}

.title-text {
  font-size: 5vw;
  line-height: 7.19vw;
  text-align: center;
}

/* - - - - - - - main - - - - - - - */

.wrapper-content {
  position: relative;
  padding: 10.93vw 3.12vw;
  width: 100%;
  margin: 0;
}

#container-content-section-bmf {
  display: block;
}

#header-our-services {
  width: 100%;
  margin-right: 0;
}

.wrapper-content__header {
  margin-left: 5vw;
  padding-bottom: 5vw;
  font-size: 5vw;
}

.wrapper-content__header::after {
  width: 16vw;
  height: 0.93vw;
}

.container-content {
  width: 100%;
  margin-right: 0;
  margin-top: 6.25vw;
  margin-bottom: 6.25vw;
}

.container-content:nth-child(2) {
  position: relative;
  margin-bottom: 6.25vw;
}

.preview-content, #article-preview-main {
  width: 100%;
  height: 56.25vw;
}

.container-text, #container-article-link-main {
  position: relative;
  width: 69.68vw;
  padding-top: 1.56vw;
  padding-bottom: 1.56vw;
  padding-left: 5.62vw;
}

.container-text::after, #container-article-link-main::after {
  right: -5.7vw;
	border-top: 8.75vw solid #518a32;
	border-right: 5.93vw solid transparent;
}

#container-article-link-main {
  left: auto;
  bottom: auto;
}

.container-content__link {
  font-size: 4.06vw;
}

.arrows {
  display: initial;
  position: absolute;
  box-sizing: border-box;
  border: 0.31vw solid #663333;
  padding: 1.56vw;
  width: 9.37vw;
  height: 9.37vw;
  background-color: #e6e6e6;
  border-radius: 25px;
  z-index: 2;
}

.arrow_next__group1, .arrow_next__group2 {
  right: 6.25vw;
}

.arrow_pre__group1, .arrow_pre__group2 {
  left: 6.25vw;
}

.arrow_next__group1, .arrow_pre__group1 {
  top: 100vw;
}

.arrow_next__group2, .arrow_pre__group2 {
  bottom: 5vw;
}

.arrows__icon {
  fill: #663333;
}

.container-info {
  padding-top: 10.93vw;
}

.info {
  font-size: 4.06vw;
  line-height: 7.5vw;
}

#con-dec-our-adv::before {
  left: 23.43vw;
	border-top: 5.7vw solid #ffffff; 
	border-right: 4.06vw solid transparent;	
}

#con-dec-our-adv::after {
  width: 23.43vw;
  height: 5.62vw;
  top: 0;
  left: 0;
}

.wrapper-content__wrapper-container {
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 9.37vw;
  padding-bottom: 9.37vw;
}

.wrapper-container_group1 {
  padding-left: 0;
  padding-right: 0;
}

.wrapper-container__container-icon, .wrapper-container_group1:last-child {
  width: 40%;
  margin-right: 0;
}

.wrapper-container__container-icon:nth-child(2n+1) {
  margin-right: 4.68vw;
}

.wrapper-container__container-icon:nth-child(n+3) {
  margin-top: 9.75vw;
}

.wrapper-container__container-icon:last-child {
  margin-right: 0;
}

.icon {
  width: 15.62vw;
  height: 15.62vw;
}

.container-icon__header {
  margin: 3.12vw 0 2.18vw 0;
  font-size: 4.06vw;
  line-height: 6.25vw;
}

.container-icon__text {
  font-size: 3.12vw;
  line-height: 6.25vw;
}

#con-dec-trans {
  padding-top: 14.87vw;
}

#con-dec-trans::before {
  right: 23.43vw;
	border-top: 5.7vw solid #663333; 
	border-right: 4.06vw solid transparent;	
}

#con-dec-trans::after {
  width: 73vw;
  height: 5.62vw;
  right: 27.18vw;
}

.wrapper-container_group2:nth-child(n+2)::before {
  width: 6.25vw;
	height: 3.12vw;
  top: 6.5vw;
  left: -6.25vw;
}

.wrapper-container_group2:nth-child(2n+3)::before {
  content: "";
  position: absolute;
  width: 5.31vw;
	height: 5.31vw;
  top: -6.25vw;
  left: 35.93vw;
  background-image: url(../svg/left_down.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #e6e6e6;
}

#boxs-vehicle-fleet {
  position: relative;
  margin-top: 15.62vw;
}

.wrapper-list {
  position: relative;
  width: 100%;
  margin-right: 0;
  padding-left: 0;
}

.wrapper-list:nth-child(n+3) {
  margin-top: 0;
}

.list-group__item_group1 {
  width: 31.25%;
}

.item_group {
  padding-top: 2.18vw;
  padding-bottom: 2.18vw;
  font-size: 3.12vw;
}

.list-group__item_group2 {
  width: 62.75%;
  padding-left: 11.87vw;
}

.list-group__item_group2::before {
	border-top: 8.7vw solid #d12c2c; 
  border-right: 6.56vw solid transparent;
}

.list-group__item_group2::after {
  right: -6.2vw;
	border-top: 8.7vw solid #663333; 
  border-right: 6.56vw solid transparent;
}

.wrapper-list__preview {
  width: 100%;
}

/* - - - - - - - footer - - - - - - - */

#container-content-footer {
  padding: 9.37vw 3.12vw;
  width: 100%;
  margin: 0;
}

#container-footer-contacts {
  display: block;
}

.address {
  display: block;
  width: 100%;
}

.footer__text {
  font-size: 3.12vw;
  line-height: 6.25vw;
  margin-bottom: 3.12vw;
}

#contact-link__button_footer:hover {
  color: #ffffff;
  background-color: inherit;
}

#container-footer-info {
  display: block;
  margin-top: 12.5vw;
  padding-top: 3.12vw;
}

#container-footer-info::after {
  width: 100%;
  height: 0.31vw;
}

.footer__text_info {
  font-size: 3.12vw;
  line-height: 9.37vw;
}

/* Прайс 1.5 тонны */

#con-content-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8.75vw 3.12vw 8.75vw 3.12vw;
}

#con-content-price > nav {
  align-self: start;
  margin-left: 5vw;
}

.list-navigation__item {
  margin-left: 8.75vw;
  font-size: 4.06vw;
}

.list-navigation__item:nth-child(n+2)::before {
  left: -4.68vw;
}

#header-price {
  align-self: start;
  margin-top: 8.75vw;
  margin-bottom: 10.93vw;
}

#list-price-veh-mass {
  justify-content: center;
}

.list-select__item {
  position: relative;
  padding: 0;
}

.list-select__item:last-child::after {
	border-bottom: 10.5vw solid #e6e6e6; 
	border-left: 7.24vw solid transparent;
}

.list-select__container-text {
  margin: 0;
  width: 35vw;
  padding-top: 3vw;
  padding-bottom: 3vw;
  padding-left: 4vw;
  font-size: 3.12vw;
  background-color: #e6e6e6;
}

.arrow_next__group3, .arrow_pre__group3 {
  display: initial;
  position: absolute;
  top: 0;
  box-sizing: border-box;
  padding: 1.56vw;
  width: 10.4vw;
  height: 10.4vw;
  background-color: #e6e6e6;
}

.arrow_next__group3 {
  right: -10.4vw;
}

.arrow_pre__group3 {
  left: -10.4vw;
}

.item_active {
  background-color: #d12c2c;
}

.item_active::after {
	border-bottom: 10.5vw solid #e6e6e6; 
	border-left: 7.24vw solid transparent;
}

.container-group__container-text {
  margin-top: 9.37vw;
  margin-bottom: 9.37vw;
}

.container-group__text {
  font-size: 4.06vw;
  line-height: 6.25vw;
}

.container-group__wrapper-container {
  display: block;
}

.container-group__container-preview {
  margin: 9.37vw 0 9.37vw 0;
}

.container-group__preview {
  width: 100%;
  height: 39vw;
}

.container-group__preview:first-child {
  margin-right: 0;
  margin-bottom: 6.25vw;
}

.container-group__wrapper-info {
  display: block;
  margin-bottom: 15.62vw;
  padding: 9.37vw;
  width: 100%;
}

.container-group__wrapper-info::before {
	border-top: 7.5vw solid #ffffff; 
	border-right: 5.62vw solid transparent;
}

.container-group__wrapper-info::after {
	border-bottom: 7.5vw solid #ffffff; 
	border-left: 5.62vw solid transparent;
}

.container-group__container-info {
  margin-bottom: 3.12vw;
}

.container-group__header {
  margin: 0 0 3.75vw 0;
  font-size: 5vw;
  line-height: 6.25vw;
}

.text_info {
  font-size: 4.06vw;
  line-height: 6.25vw;
}

.container-group__text_info {
  margin: 0 0 3.12vw 0;
}

#button-price-link {
  margin-left: 0;
  margin-right: 0;
}

#box-button-price {
  width: 46.87vw;
  padding-top: 3.75vw;
  padding-bottom: 3.75vw;
  border: 0.31vw solid #518931;
  font-size: 4.06vw;
}

/* - - - - - - - Формы - - - - - - - */

.form {
  width: 90vw;
  max-height: 100vh;
}

.form__header {
  width: 50vw;
  padding-top: 4.06vw;
  padding-bottom: 4.06vw;
}

.form__button_close {
  width: 40vw;
  padding-top: 4.06vw;
  padding-bottom: 4.06vw;
}

.form__button_close::before {
	border-bottom: 14.4vw solid transparent; 
	border-left: 10vw solid #663333;
}

.text_form {
  font-size: 4.06vw;
}

.form__icon_close {
  margin-left: 2.18vw;
  width: 6.25vw;
  height: 6.25vw;
}

.form__content {
  width: 75vw;
  padding-top: 6.25vw;
  padding-bottom: 6.25vw;
}

.field-group {
  margin-bottom: 3.12vw;
}

.field-label {
  padding-bottom: 2.18vw;
}

.field {
  width: 74vw;
  height: 12.5vw;
  font-size: 4.06vw;
}

.textarea-field {
  height: 25vw;
  min-width: 74vw;
  max-width: 74vw;
  min-height: 25vw;
  max-height: 25vw;
}

.checkbox-text {
  line-height: 3.12vw;
}

.checkbox-text::before {
  margin-right: 6.25vw;
  width: 6.25vw;
  height: 6.25vw;
  background-size: 6.25vw;
}

.checkbox-text-box {
  margin-left: 12.5vw;
}

.form__button {
  margin-top: 6.25vw;
  padding: 3.75vw 0 3.75vw 0;
  width: 46.87vw;
  border: 0.31vw solid #663333;
}

.mobile_hidden {
  display: none;
}
}

/* - - - - - - - Планшетная версия - - - - - - - */

@media (min-width: 641px) and (max-width: 1023px) {
  body {
    min-width: initial;
  }
  
  .button {
    bottom: 5.2vw;
    right: 5.2vw;
    padding: 0.8vw;
    width: 5.8vw;
    height: 5.8vw;
    border-radius: 3.2vw;
    box-shadow: 0 0 0.39vw 0.26vw #663333;
  }

  /* - - - - - - - header - - - - - - - */
  
  .wrapper-contacts__wrapper-logo{
    margin-bottom: 5.1vw;
    margin-right: -5.86vw;
  }
  
  .wrapper-contacts__wrapper-logo::after {
    border-top: 14.17vw solid #e6e6e6;
    border-right: 9.77vw solid transparent;
  }
  
  .wrapper-container-logo {
    padding: 1.95vw 0.97vw 1.95vw 0.97vw;
    width: 27.37vw;
  }
  
  .logo {
    width: 9.97vw;
  }

  .logo-text {
    padding-left: 1.46vw;
    padding-top: 1.27vw;
    line-height: 2.93vw;
    width: 16.61vw;
  
    font-size: 2.44vw;
    left: 11.73vw;
  }
  
  .list-contacts {
    padding-top: 3.91vw;
    padding-bottom: 3.91vw;
    padding-left: 6.45vw;
  }
  
  .list-contacts__item {
    margin-left: 2.63vw;
  }
  
  .list-contacts__item:last-child {
    margin-right: 0.97vw;
  }

  .contact-link__icon {
    width: 2.24vw;
    height: 2.24vw;
  }
  
  .contact-link__text {
    margin: 0 0 0 1.36vw;
    font-size: 1.56vw;
  }
  
  #contact-link__button_header {
    border: 0.09vw solid #663333;
  }
  
  .contact-link__button {
    padding: 1.17vw 2.34vw 1.17vw 2.34vw;
    font-size: 1.8vw;
  }

  .list-menu::before {
    border-bottom: 6.1vw solid #663333;
    border-left: 4vw solid transparent;
  }

  .list-menu__item::before {
    width: 0.1vw;
    height: 2.34vw;
    top: 1.56vw;
  }  
  
  .link-menu__text {
    padding: 1.76vw 1.76vw 1.85vw 1.76vw;
    font-size: 1.8vw;
  }
  
  .item-dropdown::after {
    margin-left: 0.87vw;
    border-left: 0.78vw solid transparent;
    border-right: 0.78vw solid transparent;
    border-top: 1.26vw solid #ffffff;
  }
  
  .menu__list {
    padding: 2.93vw 3.91vw 2.93vw 4.88vw;
  }
  
  .menu__list::after {
    left: 3.1vw;
    width: 11.5vw;
    height: 0.4vw;
  }
  
  .menu__item {
    padding-bottom: 0.977vw;
    font-size: 1.8vw;
  }
  
  .menu__item::before {
    margin-top: 0.7vw;
    width: 1.2vw;
    height: 1.2vw;
    left: -1.955vw;
  }

  .container-title {
    padding-top: 33.23vw;
    padding-left: 45.94vw;
    padding-bottom: 9.77vw;
    
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
  }
  
  .title-text {
    font-size: 3.52vw;
    line-height: 5.2vw;
  }
  
  /* - - - - - - - main - - - - - - - */
  
  .wrapper-content {
    padding: 8.3vw 0.97vw;
    width: 93.84vw;
  }
  
  #header-our-services {
    width: 29.32vw;
    margin-right: 1.95vw;
  }
  
  .wrapper-content__header {
    padding-bottom: 2.93vw;
    font-size: 3.52vw;
  }
  
  .wrapper-content__header::after {
    width: 9.77vw;
    height: 0.39vw;
  }
  
  .container-content {
    width: 29.32vw;
    margin-right: 1.95vw;
  }
  
  .container-content:nth-child(2) {
    margin-bottom: 3.12vw;
  }
  
  .preview-content {
    width: 29.32vw;
    height: 17.59vw;
  }
  
  #article-preview-main {
    width: 60.6vw;
    height: 32.74vw;
  }
  
  .container-text {
    width: 22vw;
    padding-top: 0.48vw;
    padding-bottom: 0.48vw;
    padding-left: 1.76vw;
  }
  
  .container-text::after {
    right: -2.19vw;
    border-top: 3.42vw solid #518a32;
    border-right: 2.3vw solid transparent;
  }
  
  #container-article-link-main {
    width: 32.25vw;
    padding-top: 1.07vw;
    padding-bottom: 1.07vw;
    padding-left: 1.76vw;
    bottom: 5.08vw;
  }
  
  #container-article-link-main::after {
	  right: -3.1vw;
	  border-top: 4.53vw solid #518a32;
	  border-right: 3.27vw solid transparent;
  }
  
  .container-content__link {
    font-size: 1.8vw;
  }
  
  .container-info {
    padding-top: 6vw;
  }
  
  .info {
    font-size: 1.8vw;
    line-height: 3vw;
  }
  
  #con-dec-our-adv::before {
    left: 33vw;
    border-top: 2.5vw solid #ffffff; 
    border-right: 1.8vw solid transparent;	
  }
  
  #con-dec-our-adv::after {
    width: 36.12vw;
    height: 2.45vw;
    left: -3.1vw;
  }
  
  .wrapper-content__wrapper-container {
    padding-top: 4.88vw;
    padding-bottom: 1.95vw;
  }
  
  .wrapper-container_group1 {
    padding-left: 0;
    padding-right: 0;
  }
  
  .wrapper-container__container-icon {
    margin-right: 1.95vw;
    width: 21.3vw;
  }
  
  .wrapper-container_group1:last-child {
    width: 21.3vw;
  }
  
  .icon {
    width: 10vw;
    height: 10vw;
  }
  
  .container-icon__header {
    margin: 1.95vw 0 1.66vw 0;
    font-size: 2.34vw;
    line-height: 3vw;
  }
  
  .container-icon__text {
    font-size: 1.8vw;
    line-height: 3vw;
  }

  #con-dec-trans {
    padding-top: 10.75vw;
  }
  
  #con-dec-trans::before {
    right: 29.43vw;
    border-top: 2.5vw solid #663333; 
    border-right: 1.8vw solid transparent;	
  }
  
  #con-dec-trans::after {
    width: 65.8vw;
    height: 2.45vw;
    left: -3.1vw;
  }
  
  .wrapper-container_group2:nth-child(n+2)::before {
    width: 4vw;
    height: 2vw;
    top: 3.8vw;
    left: -2.8vw;
  }
  
  #boxs-vehicle-fleet {
    margin-top: 4.88vw;
  }
  
  .wrapper-list {
    width: 41.54vw;
    margin-right: 3.12vw;
    padding-left: 1.95vw;
  }

  .wrapper-list:nth-child(n+3) {
    margin-top: 4.88vw;
  }
  
  .list-group__item_group1 {
    width: 9.77vw;
  }
  
  .item_group {
    padding-top: 0.48vw;
    padding-bottom: 0.48vw;
    font-size: 1.27vw;
  }
  
  .list-group__item_group2 {
    width: 23.55vw;
    padding-left: 3.71vw;
  }
  
  .list-group__item_group2::before {
    border-top: 2.73vw solid #d12c2c; 
    border-right: 2.05vw solid transparent;
  }
  
  .list-group__item_group2::after {
    right: -1.95vw;
    border-top: 2.73vw solid #663333; 
    border-right: 2.05vw solid transparent;
  }
  
  .wrapper-list__preview {
    width: 39.1vw;
  }

  /* - - - - - - - footer - - - - - - - */
  
  #container-content-footer {
    padding: 3.91vw 0.97vw;
    width: 93.84vw;
  }
  
  .address {
    width: 63.53vw;
  }
  
  .footer__text {
    font-size: 2.34vw;
    line-height: 2.93vw;
  }
  
  .footer__text:nth-child(n+2) {
    margin-left: 1.95vw;
  }

  .footer__text_wrapper {
    margin-top: 1.95vw;
  }
  
  #container-footer-info {
    margin-top: 3.91vw;
    padding-top: 0.97vw;
  }
  
  #container-footer-info::after {
    width: 91.88vw;
    height: 0.18vw;
  }
  
  .footer__text_info {
    font-size: 1.95vw;
    line-height: 2.93vw;
  }
  
  /* Прайс 1.5 тонны */
  
  #con-content-price {
    padding: 2.73vw 0.97vw 8.79vw 0.97vw;
  }
  
  .list-navigation__item {
    margin-left: 2.73vw;
    font-size: 1.8vw;
  }
  
  .list-navigation__item:nth-child(n+2)::before {
    left: -1.75vw;
  }
  
  #header-price {
    margin-top: 3.42vw;
    margin-bottom: 4.4vw;
  }

  .list-select__item {
    padding: 0;
  }
  
  .list-select__container-text {
    width: 130px;
    font-size: 13px;
  }

  .container-group__container-text {
    margin-top: 4.59vw;
    margin-bottom: 3.22vw;
  }
  
  .container-group__text {
    font-size: 1.8vw;
    line-height: 2.93vw;
  }
  
  .container-group__container-preview {
    margin: 2.93vw 0 0 0;
  }
  
  .container-group__preview {
    max-width: 44.96vw;
    height: 12.21vw;
  }
  
  .container-group__preview:first-child {
    margin-right: 4.88vw;
  }
  
  .container-group__wrapper-info {
    margin-bottom: 4.88vw;
    padding: 2.93vw;
    width: 44.96vw;
  }
  
  .container-group__wrapper-info::before {
    border-top: 2.34vw solid #ffffff; 
    border-right: 1.76vw solid transparent;
  }
  
  .container-group__wrapper-info::after {
    border-bottom: 2.34vw solid #ffffff; 
    border-left: 1.76vw solid transparent;
  }
  
  .container-group__header {
    margin: 0 0 1.17vw 0;
    font-size: 1.76vw;
    line-height: 2.34vw;
  }
  
  .text_info {
    font-size: 1.56vw;
    line-height: 2.34vw;
  }
  
  .container-group__text_info {
    margin: 0 0 2.24vw 0;
  }
  
  #button-price-link {
    margin-left: 46.92vw;
    margin-right: 25vw;
  }
  
  #box-button-price {
    width: initial;
    padding: 1.17vw 2.34vw 1.17vw 2.34vw;
    border: 0.09vw solid #518931;
    font-size: 1.8vw;
  }
  
  .form {
    width: 39.1vw;
  }
  
  .form__header {
    width: 22.41vw;
    padding-top: 1.27vw;
    padding-bottom: 1.27vw;
  }
  
  .form__button_close {
    width: 16.68vw;
    padding-top: 1.27vw;
    padding-bottom: 1.27vw;
  }
  
  .form__button_close::before {
    border-bottom: 4.8vw solid transparent; 
    border-left: 3.34vw solid #663333;
  }
  
  .text_form {
    font-size: 1.56vw;
  }
  
  .form__icon_close {
    margin-left: 0.68vw;
    width: 2.25vw;
    height: 2.25vw;
  }
  
  .form__content {
    width: 23.46vw;
    padding-top: 1.95vw;
    padding-bottom: 1.95vw;
  }
  
  .field-group {
    margin-bottom: 1.95vw;
  }
  
  .field-label {
    padding-bottom: 0.68vw;
  }
  
  .field {
    width: 23.46vw;
    height: 3.91vw;
    font-size: 1.56vw;
  }
  
  .textarea-field {
    height: 7.82vw;
    min-width: 23.46vw;
    max-width: 23.46vw;
    min-height: 3.91vw;
    max-height: 11.73vw;
  }
  
  .checkbox-text {
    line-height: 1.95vw;
  }
  
  .checkbox-text::before {
    margin-right: 1.95vw;
    width: 1.95vw;
    height: 1.95vw;
    background-size: 1.95vw;
  }
  
  .checkbox-text-box {
    margin-left: 3.91vw;
  }
  
  .form__button {
    margin-top: 2.93vw;
    padding: 1.17vw 0 1.17vw 0;
    width: 17.59vw;
    border: 0.09vw solid #663333;
  }
}

/* - - - - - - - Для экранов больше 1366px - - - - - - - */

@media (min-width: 1367px) {
  body {
    min-width: initial;
  }
  
  /* - - - - - - - header - - - - - - - */
  
  .wrapper-contacts__wrapper-logo {
    margin-bottom: 2.71vw;
    margin-right: -4.38vw;
  }
  
  .wrapper-contacts__wrapper-logo::after {
    border-top: 10.6vw solid #e6e6e6;
    border-right: 7.31vw solid transparent;
  }

  .wrapper-container-logo {
    padding: 1.46vw 0.731vw 1.46vw 0.731vw;
    width: 20.48vw;
  }
  
  .logo {
    width: 7.68vw;
  }
  
  .logo-text {
    padding-left: 1.09vw;
    padding-top: 0.95vw;
    line-height: 2.19vw;
    width: 12.43vw;
  
    font-size: 1.82vw;
    left: 8.77vw;
  }
  
  .list-contacts {
    padding-top: 2.92vw;
    padding-bottom: 2.92vw;
    padding-left: 4.82vw;
  }
  
  .list-contacts__item {
    margin-left: 1.95vw;
  }

  .list-contacts__item:last-child {
    margin-right: 0.73vw;
  }
  
  .contact-link__icon {
    width: 1.68vw;
    height: 1.68vw;
  }
  
  .contact-link__text {
    margin: 0 0 0 1.02vw;
    font-size: 1.17vw;
  }
  
  #contact-link__button_header {
    border: 0.073vw solid #663333;
  }
  
  .contact-link__button {
    padding: 0.87vw 1.75vw 0.87vw 1.75vw;
    font-size: 0.95vw;
  }
  
  .list-menu::before {
    border-bottom: 3.95vw solid #663333;
    border-left: 2.56vw solid transparent;
  }
  
  .list-menu__item::before {
    width: 0.07vw;
    height: 1.75vw;
    top: 1.17vw;
  }  
  
  .link-menu__text {
    padding: 1.31vw 2.12vw 1.39vw 2.12vw;
  
    font-size: 0.95vw;
  }
  
  .item-dropdown::after {
    margin-left: 0.658vw;
  
    border-left: 0.36vw solid transparent;
    border-right: 0.36vw solid transparent;
    border-top: 0.58vw solid #ffffff;
  }
  
  .menu__list {
    padding: 2.19vw 2.92vw 2.19vw 3.65vw;
  }
  
  .menu__list::after {
    left: 2.19vw;
    width: 6.8vw;
    height: 0.21vw;
  }
  
  .menu__item {
    padding-bottom: 0.73vw;
    font-size: 0.95vw;
  }
  
  .menu__item::before {
    margin-top: 0.29vw;
    width: 0.73vw;
    height: 0.73vw;
    left: -1.46vw;
  }
  
  .container-title {
    padding-top: 24.87vw;
    padding-left: 41.69vw;
    padding-bottom: 6.36vw;
    
    width: 70.22vw;
  }
  
  .title-text {
    font-size: 2.19vw;
    line-height: 3.21vw;
  }
  
  /* - - - - - - - main - - - - - - - */
  
  .wrapper-content {
    padding: 6.21vw 0.73vw;
    width: 70.22vw;
  }
  
  #header-our-services {
    width: 21.94vw;
    margin-right: 1.46vw;
  }
  
  .wrapper-content__header {
    padding-bottom: 2.19vw;
    font-size: 2.19vw;
  }
  
  .wrapper-content__header::after {
    width: 5.85vw;
    height: 0.22vw;
  }
  
  .container-content {
    width: 21.94vw;
    margin-right: 1.46vw;
  }
  
  .container-content:nth-child(2) {
    margin-bottom: 2.34vw;
  }
  
  .preview-content {
    width: 21.94vw;
    height: 13.16vw;
  }
  
  #article-preview-main {
    width: 45.35vw;
    height: 24.50vw;
  }
  
  .container-text {
    width: 13.97vw;
    padding-top: 0.36vw;
    padding-bottom: 0.36vw;
    padding-left: 1.31vw;
  }
  
  .container-text::after {
    right: -1.3vw;
    border-top: 2vw solid #518a32;
    border-right: 1.35vw solid transparent;
  }
  
  #container-article-link-main {
    width: 24.14vw;
    padding-top: 0.80vw;
    padding-bottom: 0.80vw;
    padding-left: 1.31vw;
    bottom: 3.80vw;
  }
  
  #container-article-link-main::after {
    right: -1.93vw;
    border-top: 2.95vw solid #518a32;
    border-right: 2vw solid transparent;
  }

  .container-content__link {
    font-size: 0.95vw;
  }
  
  .container-info {
    padding-top: 6.58vw;
  }
  
  .info {
    font-size: 0.95vw;
    line-height: 1.75vw;
  }
  
  #con-dec-our-adv::before {
    left: 20.77vw;
    border-top: 1.83vw solid #ffffff; 
    border-right: 1.31vw solid transparent;	
  }
  
  #con-dec-our-adv::after {
    width: 70.22vw;
    height: 1.83vw;
    right: 49.45vw;
  }
  
  .wrapper-content__wrapper-container {
    padding-top: 3.65vw;
    padding-bottom: 3.65vw;
  }
  
  .wrapper-container_group1 {
    padding-left: 0.07vw;
    padding-right: 0.07vw;
  }
  
  .wrapper-container__container-icon {
    margin-right: 1.46vw;
    width: 15.94vw;
  }
  
  .wrapper-container_group1:last-child {
    width: 16.53vw;
  }
  
  .icon {
    width: 5.12vw;
    height: 5.12vw;
  }
  
  .container-icon__header {
    margin: 1.46vw 0 1.24vw 0;
    font-size: 1.17vw;
    line-height: 1.75vw;
  }
  
  .container-icon__text {
    font-size: 0.95vw;
    line-height: 1.61vw;
  }
  
  #con-dec-trans {
    padding-top: 8.04vw;
  }
  
  #con-dec-trans::before {
    right: 22.06vw;
    border-top: 1.83vw solid #663333; 
    border-right: 1.31vw solid transparent;	
  }
  
  #con-dec-trans::after {
    width: 105.85vw;
    height: 1.83vw;
    right: 23.33vw;
  }
  
  .wrapper-container_group2:nth-child(n+2)::before {
    width: 1.46vw;
    height: 0.73vw;
    top: 2.56vw;
    left: -1.46vw;
  }
  
  #boxs-vehicle-fleet {
    margin-top: 3.65vw;
  }
  
  .wrapper-list {
    width: 31.09vw;
    margin-right: 2.34vw;
    padding-left: 1.46vw;
  }
  
  .wrapper-list:nth-child(n+3) {
    margin-top: 3.65vw;
  }
  
  .list-group__item_group1 {
    width: 7.31vw;
  }
  
  .item_group {
    padding-top: 0.366vw;
    padding-bottom: 0.366vw;
    font-size: 0.95vw;
  }
  
  .list-group__item_group2 {
    width: 17.63vw;
    padding-left: 2.78vw;
  }
  
  .list-group__item_group2::before {
    border-top: 2.03vw solid #d12c2c; 
    border-right: 1.52vw solid transparent;
  }
  
  .list-group__item_group2::after {
    right: -1.46vw;
    border-top: 2.02vw solid #663333; 
    border-right: 1.51vw solid transparent;
  }
  
  .wrapper-list__preview {
    width: 29.26vw;
  }
  
  /* - - - - - - - footer - - - - - - - */
  
  #container-content-footer {
    padding: 2.93vw 0.73vw;
    width: 70.22vw;
  }
  
  .address {
    width: 47.55vw;
  }
  
  .footer__text {
    font-size: 0.95vw;
    line-height: 1.61vw;
  }
  
  #contact-link__button_footer {
    border: 0.07vw solid #ffffff;
  }
  
  #container-footer-info {
    margin-top: 2.93vw;
    padding-top: 0.73vw;
  }
  
  #container-footer-info::after {
    width: 68.76vw;
    height: 0.07vw;
  }
  
  .footer__text_info {
    font-size: 0.95vw;
    line-height: 2.19vw;
  }
  
  /* Прайс 1.5 тонны */
  
  #con-content-price {
    padding: 2.048vw 0.73vw 6.58vw 0.73vw;
  }
  
  .list-navigation__item {
    margin-left: 2.048vw;
    font-size: 0.95vw;
  }
  
  .list-navigation__item:nth-child(n+2)::before {
    left: -1.097vw;
  }
  
  #header-price {
    margin-top: 2.56vw;
    margin-bottom: 3.29vw;
  }

  .list-select__item {
    padding: 0;
  }
  
  .list-select__item:last-child::after {
    border-bottom: 50px solid #ffffff; 
    border-left: 34px solid transparent;
  }
  
  .list-select__container-text {
    width: 160px;
    font-size: 16px;
  }
  
  .item_active::after {
    border-bottom: 50px solid #663333; 
    border-left: 34px solid transparent;
  }
  
  .container-group__container-text {
    margin-top: 3.44vw;
    margin-bottom: 2.41vw;
  }
  
  .container-group__text {
    font-size: 0.95vw;
    line-height: 1.756vw;
  }
  
  .container-group__container-preview {
    margin: 2.19vw 0 0 0;
  }
  
  .container-group__preview {
    max-width: 33.65vw;
    height: 9.14vw;
  }
  
  .container-group__preview:first-child {
    margin-right: 3.65vw;
  }
  
  .container-group__wrapper-info {
    margin-bottom: 3.65vw;
    padding: 2.19vw;
    width: 33.65vw;
  }
  
  .container-group__wrapper-info::before {
    border-top: 1.755vw solid #ffffff; 
    border-right: 1.316vw solid transparent;
  }
  
  .container-group__wrapper-info::after {
    border-bottom: 1.755vw solid #ffffff; 
    border-left: 1.316vw solid transparent;
  }
  
  .container-group__header {
    margin: 0 0 0.877vw 0;
    font-size: 1.17vw;
    line-height: 1.755vw;
  }
  
  .text_info {
    font-size: 0.95vw;
    line-height: 1.755vw;
  }
  
  .container-group__text_info {
    margin-bottom: 1.68vw;
  }
  
  #button-price-link {
    margin-left: 35.11vw;
  }
  
  #box-button-price {
    width: 10.97vw;
    padding-top: 0.877vw;
    padding-bottom: 0.877vw;
    border: 0.07vw solid #518931;
    font-size: 0.95vw;
  }
  
  .form {
    width: 29.26vw;
  }
  
  .form__header {
    width: 19.02vw;
    padding-top: 0.95vw;
    padding-bottom: 0.95vw;
  }
  
  .form__button_close {
    width: 10.24vw;
    padding-top: 0.95vw;
    padding-bottom: 0.95vw;
  }
  
  .form__button_close::before {
    border-bottom: 3.36vw solid transparent; 
    border-left: 2.34vw solid #663333;
  }
  
  .text_form {
    font-size: 0.95vw;
  }
  
  .form__icon_close {
    margin-left: 0.51vw;
    width: 1.46vw;
    height: 1.46vw;
  }
  
  .form__content {
    width: 17.556vw;
    padding-top: 3.65vw;
    padding-bottom: 3.65vw;
  }
  
  .field-group {
    margin-bottom: 1.46vw;
  }

  .field-label {
    padding-bottom: 0.51vw;
  }
  
  .field {
    width: 17.556vw;
    height: 2.926vw;
    font-size: 0.95vw;
  }
  
  .textarea-field {
    height: 5.85vw;
    min-width: 17.556vw;
    max-width: 17.556vw;
    min-height: 2.926vw;
    max-height: 8.778vw;
  }
  
  .checkbox {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
  }
  
  .checkbox-text {
    line-height: 0.73vw;
  }
  
  .checkbox-text::before {
    margin-right: 1.463vw;
    width: 1.463vw;
    height: 1.463vw;
    background-size: 1.463vw;
  }
  
  .checkbox-text-box {
    margin-left: 2.926vw;
  }
  
  .form__button {
    margin-top: 2.19vw;
    padding: 0.877vw 0 0.877vw 0;
    width: 10.97vw;
    border: 0.07vw solid #663333;
  }
}


/* - - - - - - - hidden - - - - - - - */

.hidden, .button_hidden {
  display: none;
}